@model BookShop.Models.Book
@inject BookShop.Classes.ConvertDate convertDate
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                اطلاعات کتاب @Model.Title
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/Book.png" height="250" />
                    </div>

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <p>عنوان کتاب : @Model.Title</p>
                                <p>شابک : @Model.ISBN</p>
                                <p>سال انتشار : @Model.PublishYear</p>
                                <p>قیمت : @Model.Price</p>
                                <p>موجودی : @Model.Stock</p>
                                <p>تعداد صفحات : @Model.NumOfPages</p>
                                <p>زبان کتاب : @Model.Language.LanguageName</p>
                            </div>
                            <div class="col-md-6">

                                <p>ناشر : @Model.Publisher.PublisherName</p>
                                <p>
                                    نویسندگان :
                                    @{string Authors = "";}
                                    @foreach (var item in ViewBag.Authors as List<BookShop.Models.Author>)
                                    {
                                        if (Authors != "")
                                        {
                                            Authors = Authors + " - " + item.FirstName + " " + item.LastName;
                                        }
                                        else
                                        {
                                            Authors = item.FirstName + " " + item.LastName;
                                        }
                                    }

                                    @Authors
                                </p>
                                <p>
                                    مترجمان :
                                    @{var TranslatorsList = ViewBag.Translators as List<BookShop.Models.Translator>;}
                                    @if (TranslatorsList.Count() != 0)
                                    {

                                        string Translators = "";
                                        @foreach (var item in TranslatorsList)
                                        {
                                            if (Translators != "")
                                            {
                                                Translators = Translators + " - " + item.Name + " " + item.Family;
                                            }
                                            else
                                            {
                                                Translators = item.Name + " " + item.Family;
                                            }
                                        }

                                        @Translators
                                    }

                                    else
                                    {
                                        <span>-</span>
                                    }

                                </p>
                                <p>
                                    دسته بندی ها :
                                    @{ var CategoriesList = ViewBag.Categories as List<BookShop.Models.Category>;}
                                    @if (CategoriesList.Count() != 0)
                                    {
                                        string Categories = "";
                                        @foreach (var item in CategoriesList)
                                        {
                                            if (Categories != "")
                                            {
                                                Categories = Categories + " - " + item.CategoryName;
                                            }
                                            else
                                            {
                                                Categories = item.CategoryName;
                                            }
                                        }

                                        @Categories
                                    }

                                    else
                                    {
                                        <span>-</span>
                                    }

                                </p>
                                <p>
                                    تاریخ انتشار :
                                    @if (Model.PublishDate != null)
                                    {
                                        @convertDate.ConvertMiladiToShamsi((DateTime)Model.PublishDate, "yyyy/MM/dd")
                                    }

                                    else
                                    {
                                        <span>-</span>
                                    }
                                </p>
                                <p>
                                    وضعیت :
                                    @if (Model.IsPublish == true)
                                    {
                                        <span>منتشر شده</span>
                                    }

                                    else
                                    {
                                        <span>پیش نویس</span>
                                    }
                                </p>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-12">
                        <hr />
                        <p>
                            خلاصه کتاب : @Model.Summary
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



