@model IEnumerable<BookShop.Models.Language>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LanguageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LanguageID">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.LanguageID">جزئیات</a> |
                    <a asp-action="Delete" asp-route-id="@item.LanguageID">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
